<div class="descripcion">
  <h2>Definición</h2>
  <p>
    La distancia entre dos puntos es una medida que cuantifica la separación o diferencia entre ellos,
    independientemente de la cantidad de dimensiones en las que se encuentren. Puede ser calculada mediante diferentes
    métodos, como la distancia euclidiana o la distancia de Manhattan, entre otros. Estos métodos evalúan las
    diferencias o distancias entre las coordenadas de los puntos en cada dimensión y proporcionan un valor numérico que
    representa la magnitud de la separación espacial entre ellos. La distancia es una herramienta fundamental en
    matemáticas, física, ciencias de datos y otros campos, y se utiliza para comparar objetos, analizar patrones, tomar
    decisiones y resolver problemas en diversos contextos.</p><br>
  <p>Aquellas tablas de distancias cuyas dimensiones sean mayores a 20x20, deberán descargarse para visualizarse de
    manera completa.</p><br>
  <div class="selector">
    <p><strong>Elija el tipo de distancia a aplicar.</strong></p>
    <mat-form-field appearance="fill">
      <mat-label>Seleccione el tipo de distancia</mat-label>
      <mat-select [(ngModel)]="distance">
        <mat-option *ngFor="let distance of distances" [value]="distance" (click)="selectDistance(distance)">
          {{ distance }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="button" style="margin-left: 15px; background-color: #0F753E; color: white;"
      (click)="saveData()">
      Exportar distancias
    </button>
  </div>
  <div *ngIf="distance === 'Euclidea'">
    <div style="display: flex; flex-direction: row; align-items: baseline">
      <h2>Distancias euclideas:</h2><br>
    </div>
    <div class="tableForScroll">
      <table>
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let i of lenghtOfData.slice(0, 20)">
              {{ i + 1 }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of euclideanDistaces.slice(0, 20); let i = index">
            <td>{{ i + 1 }}</td>
            <td *ngFor="let dist of row.slice(0, 20)">{{ dist | numberFormat }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="distance === 'Euclidea normalizada'">
    <div style="display: flex; flex-direction: row; align-items: baseline">
      <h2>Distancias euclideas normalizadas:</h2><br>
    </div>
    <div class="tableForScroll">
      <table>
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let i of lenghtOfData.slice(0, 20)">
              {{ i + 1 }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of normalizedEuclideanDistances.slice(0, 20); let i = index">
            <td>{{ i + 1 }}</td>
            <td *ngFor="let dist of row.slice(0, 20)">{{ dist | numberFormat }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="distance === 'Mahalanobis'">
    <div style="display: flex; flex-direction: row; align-items: baseline">
      <h2>Distancias de Mahalanobis:</h2><br>
    </div>
    <div class="tableForScroll">
      <table>
        <thead>
          <tr>
            <th></th>
            <th *ngFor="let i of lenghtOfData.slice(0, 20)">
              {{ i + 1 }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of mahalanobisDistances.slice(0, 20); let i = index">
            <td>{{ i + 1 }}</td>
            <td *ngFor="let dist of row.slice(0, 20)">{{ dist | numberFormat }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>