<form [formGroup]="distanceForm" (ngSubmit)="saveParameters()">
  <div style="display: flex; align-items: last baseline;">
    <mat-form-field appearance="fill" style="margin-right: 10px;">
      <mat-label>Distancia máxima</mat-label>
      <input matInput formControlName="distance" type="number" required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="margin-right: 10px;">
      <mat-label>Puntos mínimos por grupo</mat-label>
      <input matInput formControlName="minPoints" type="number" required>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Introducir</button>
  </div>
</form>
