<div class="descripcion">
  <h2>Definición</h2>
  <p>
    El Clustering, también conocido como análisis de grupos o agrupamiento, es
    la tarea encargada de agrupar objetos en función de su similitud. De esta
    forma, podemos decir que los miembros de cada grupo tienen características
    similares. El análisis de grupo estuvo originado en antropología por Driver
    y Kroeber en 1932 e introducido a psicología por Zubin en 1938.
  </p>
  <p>
    Esta técnica es comúnmente aplicada en el análisis de datos estadísticos.
    Existen infinidad de algoritmos de agrupamiento, donde por lo general,
    varían en la forma en la que el al autor considera que es un grupo y como se
    realizan.
  </p>
  <app-clustering-methods></app-clustering-methods>
</div>