<div class="content">
  <h2>Definición</h2>
  <p>El Clustering, también conocido como análisis de grupos o agrupamiento, es la tarea encargada de agrupar objetos en función de su similitud. De esta forma, podemos decir que los miembros de cada grupo tienen características similares.
    El análisis de grupo estuvo originado en antropología por Driver y Kroeber en 1932 e introducido a psicología por Zubin en 1938.</p>
  <p>Esta técnica es comúnmente aplicada en el análisis de datos estadísticos. Existen infinidad de algoritmos de agrupamiento, donde por lo general, varían en la forma en la que el al autor considera que es un grupo y como se realizan.</p>
  <div class="selector">
    <p><strong>Elija el tipo de distancia a aplicar.</strong></p>
    <mat-form-field appearance="fill">
    <mat-label>Seleccione el tipo de distancia</mat-label>
      <mat-select [(ngModel)]="distance">
        <mat-option *ngFor="let distance of distances" [value]="distance" (click)="selectDistance(distance)">
          {{distance}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="distance === 'Euclidea'">
    <br><h2>Distancias euclideas:</h2><br>
    <div class="tableForScroll">
      <table>
        <thead>
          <tr>
            <th *ngFor="let i of lenghtOfData">
              {{i + 1}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of euclideanDistaces">
            <td *ngFor="let dist of row">{{ dist | numberFormat }}  </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="distance === 'Euclidea normalizada'">
    <br><h2>Distancias euclideas normalizadas:</h2><br>
    <div class="tableForScroll">
      <table>
        <thead>
          <tr>
            <th *ngFor="let i of lenghtOfData">
              {{i + 1}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of normalizedEuclideanDistaces">
            <td *ngFor="let dist of row">{{ dist | numberFormat }}  </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div *ngIf="distance === 'Mahalanobis'">
    <br><h2>Distancias de Mahalanobis:</h2><br>
    <div class="tableForScroll">
      <table>
        <thead>
          <tr>
            <th *ngFor="let i of lenghtOfData">
              {{i + 1}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of mahalanobisDistances">
            <td *ngFor="let dist of row">{{ dist | numberFormat }}  </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="selector"><br>
    <p><strong>Elija el tipo de clustering.</strong></p>
    <mat-form-field appearance="fill">
    <mat-label>Seleccione el tipo de distancia</mat-label>
      <mat-select [(ngModel)]="clusteringMethod">
        <mat-option *ngFor="let clusteringMethod of clusteringMethods" [value]="clusteringMethod" (click)="selectClustering(clusteringMethod)">
          {{clusteringMethod}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>



</div>


