.listofinputs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  div{
    margin-right: 20px;
  }

}

table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}

table th {
  color: #333;
  font-weight: bold;
}

table td:first-child {
  font-weight: bold;
}
