<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Información"><app-page-information></app-page-information></mat-tab>
  <mat-tab label="Datos"><app-data></app-data></mat-tab>
  <mat-tab label="ACP"> </mat-tab>
  <mat-tab label="Clustering"></mat-tab>
  <mat-tab label="Outliers"></mat-tab>
  <mat-tab disabled="">
    <ng-template mat-tab-label class="template">
      <a href="https://github.com/edf1003/TFG" style="text-decoration: none; color:black;">
      <img class="gitlogo" src="../../assets/img/gitlogo.jpg">
      GitHub
    </a>
    </ng-template></mat-tab>
</mat-tab-group>






