<form [formGroup]="distanceForm" (ngSubmit)="saveParameters()">
  <div style="display: flex; align-items: last baseline">
    <mat-form-field appearance="fill" style="margin-right: 10px">
      <mat-label>Distancia máxima</mat-label>
      <input matInput formControlName="distance" type="number" required>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Introducir</button>
  </div>
</form><br>
<div *ngIf="showResults">
  <h3><strong>Outliers:</strong></h3><br>
  <table>
    <thead>
      <th>ID</th>
      <th>LOF</th>
      <th>Coordenadas</th>
    </thead>
    <tbody>
      <ng-container *ngFor="let lof of results; let i = index;">
        <tr>
          <td>{{i+1}}</td>
          <td>
            <ng-container *ngIf="isValueNaN(lof)">
              Outlier
            </ng-container>
            <ng-container *ngIf="!isValueNaN(lof)">
              {{lof}}
            </ng-container>
          </td>
          <td>{{initialPoints[i]}}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>