$table-bg: #9ec3e7;
$table-bg-alt: #cfe1f2;
$table-header-bg: #2e4b6a;

table {
  width: 70%;
  border-collapse: collapse;
  border: 2px solid black;

  th,
  td {
    padding: 4px;
    text-align: center;
  }

  th {
    background-color: $table-header-bg;
    color: #fff;
  }

  tr:nth-child(even) {
    background-color: $table-bg-alt;
  }

  tr:nth-child(odd) {
    background-color: $table-bg;
  }

  tr td:first-child {
    background-color: $table-header-bg;
    color: #fff;
  }
}

.tableForScroll {
  max-width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}
