<app-page-title></app-page-title>
<div class="resumeTFG">
  <h2>Introducción al tema</h2>
  <p>
    El objetivo de este proyecto es desarrollar una aplicación web que permita a los usuarios realizar un análisis
    completo de conjuntos de datos proporcionados por ellos mismos. La aplicación se enfoca en cuatro técnicas de
    análisis: Componentes Principales, Distancias, Clustering y Detección de Outliers.<br /><br />
    En particular, la aplicación proporciona los siguientes casos de uso:
  </p>
  <ul class="list-group list-group-flush list-group-numbered">
    <li class="list-group-item">
      Obtener los datos introducidos por parte del usuario.
    </li>
    <li class="list-group-item">
      Llevar a cabo un análisis de componentes principales.
    </li>
    <li class="list-group-item">
      Llevar a cabo un análisis de distancias (Euclidea, Euclida normalizada y Mahalanobis).
    </li>
    <li class="list-group-item">
      Llevar a cabo un análisis de clustering (DBSCAN, OPTICS y K-means).
    </li>
    <li class="list-group-item">
      Detectar outliers en los datos mediante los algoritmos (Mahalanobis, DBSCAN, OPTICS, KNN y LOF).
    </li>
  </ul>
  <p>
    <br />
    La aplicación web se está a disposición de la comunidad científica de
    forma gratuita y bajo una licencia GNU GPL 3.0.
  </p><br>
  <h2>Instrucciones básicas de uso:</h2>
  <p>
    Para el correcto uso de la aplicación web, el usuario debera primeramente
    introducir los datos con los que se va a trabajar en la pestaña
    <strong>Empezar > Datos</strong>, esto se puede hacer de forma manual o subiendo un
    archivo de tipo .xlsx. <br />Una vez realizada la subida de los datos, el
    usuario podra interactuar con las pestaña <strong>ACP</strong>, <strong>Distancias</strong>,
    <strong>Clustering</strong> y <strong>Outliers</strong>, pudiendo realizar los diferentes análisis, correspondientes
    a cada ventana.
    Finalmente, en cada ventana el usuario podrá guardar una copia de los datos obtenidos
    durante la ejecución.
  </p>
  <br>
  <app-footer-bar></app-footer-bar>
</div>