<app-page-title></app-page-title>
<div id="resumeTFG" style="margin-left: 10%; margin-right: 10%">
  <h2>Introducción al tema</h2>
  <p>
    El objetivo de este proyecto es crear una aplicación web capaz de realizar
    análisis de componentes principales, de clustering y de detección de
    outliers sobre un conjunto de datos aportados por el usuario. Para ello, la
    aplicación deberá poder calcular diferentes tipos de distancias entre
    puntos. <br />
    La implementación de esta aplicación requiere llevar a cabo varios análisis
    matemáticos, a partir de datos proporcionados por el usuario.<br /><br />
    En particular, la aplicación deberá:
  </p>
  <ul class="list-group list-group-flush list-group-numbered">
    <li class="list-group-item">
      Obtener los datos introducidos por parte del usuario.
    </li>
    <li class="list-group-item">
      Llevar a cabo un análisis de componentes principales.
    </li>
    <li class="list-group-item">
      Incluir gráficas para los 2 primeros componentes principales.
    </li>
    <li class="list-group-item">
      Llevar a cabo un análisis de clustering utilizando diferentes algoritmos
      (DBSCAN, OPTICS, etc.), basados en diferentes tipos de distancias
      (euclídea, euclídea normalizada, Mahalanobis, etc.).
    </li>
    <li class="list-group-item">
      Detectar outliers en los datos, usando diferentes tipos de distancias
      (euclídea, euclídea normalizada, Mahalanobis, etc.).
    </li>
  </ul>
  <p>
    <br />
    La aplicación web se pondrá a disposición de la comunidad científica de
    forma gratuita. La aplicación debe ser web, gratuita, y cederse bajo
    licencia GNU GPL 3.0. Se realizará sobre Angular (HTML, CSS y JS).
  </p>
  <h2>Instrucciones de uso:</h2>
  <p>
    Para el correcto uso de la aplicación web, el usuario debera primeramente
    introducir los datos con los que se va a trabajar en la pestaña
    <strong>Empezar > Datos</strong>, esto se puede hacer de forma manual o subiendo un
    archivo de tipo .xlsx. <br />Una vez realizada la subida de los datos, el
    usuario podra interactuar con las pestaña <strong>ACP</strong> y
    <strong>Clustering</strong> pudiendo realizar los diferentes anaálisis, correspondientes a cada ventana.
    Finalmente, en la ventana de <strong>Resultados</strong> el usuario podrá guardar una copia de los datos obtenidos
    durante la ejecución.
  </p>
  <br>
  <app-footer-bar></app-footer-bar>
</div>