<app-page-title></app-page-title>
<div class="resumeTFG">
  <h2>{{ translationService.translateKey('information1') }}</h2>
  <p>
    {{ translationService.translateKey('information2') }}<br /><br />
    {{ translationService.translateKey('information2.1') }}
  </p>
  <ul class="list-group list-group-flush list-group-numbered">
    <li class="list-group-item">
      {{ translationService.translateKey('information3') }}
    </li>
    <li class="list-group-item">
      {{ translationService.translateKey('information4') }}
    </li>
    <li class="list-group-item">
      {{ translationService.translateKey('information5') }}
    </li>
    <li class="list-group-item">
      {{ translationService.translateKey('information6') }}
    </li>
    <li class="list-group-item">
      {{ translationService.translateKey('information7') }}
    </li>
  </ul>
  <p>
    <br />
    {{ translationService.translateKey('information8') }}
  </p><br>
  <h2>{{ translationService.translateKey('information9') }}</h2>
  <p>
    {{ translationService.translateKey('information10') }}
    <strong>{{ translationService.translateKey('information11') }}</strong>{{
    translationService.translateKey('information12') }}<br />{{ translationService.translateKey('information13')
    }}<strong>{{ translationService.translateKey('information14') }}</strong><strong>{{
      translationService.translateKey('information15') }}</strong>
    <strong>{{ translationService.translateKey('information16') }}</strong> {{
    translationService.translateKey('information17') }} <strong>{{ translationService.translateKey('information18')
      }}</strong>{{ translationService.translateKey('information19') }}
  </p>
  <br>
  <app-footer-bar></app-footer-bar>
</div>