<div class="selector">
  <br />
  <p><strong>{{ translationService.translateKey('clustering4') }}</strong></p>
  <mat-form-field appearance="fill">
    <mat-label>{{ translationService.translateKey('clustering5') }}</mat-label>
    <mat-select [(ngModel)]="distance">
      <mat-option *ngFor="let distance of distances" [value]="distance" (click)="selectDistance(distance)">
        {{ distance }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill" style="margin-left: 10px;">
    <mat-label>{{ translationService.translateKey('clustering6') }}</mat-label>
    <mat-select [(ngModel)]="clusteringMethod">
      <mat-option *ngFor="let clusteringMethod of clusteringMethods" [value]="clusteringMethod"
        (click)="selectClustering(clusteringMethod)">
        {{ clusteringMethod }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
<div *ngIf="clusteringMethod === 'DBSCAN'">
  <app-dbscan [distance]="distance" id="DBSCAN"></app-dbscan>
</div>
<div *ngIf="clusteringMethod === 'OPTICS'">
  <app-optics [distance]="distance" id="OPTICS"></app-optics>
</div>
<div *ngIf="clusteringMethod === 'K-means'">
  <app-kmeans [distance]="distance" id="K-means"></app-kmeans>
</div>