<form [formGroup]="distanceForm" (ngSubmit)="saveParameters()">
  <div style="display: flex; align-items: last baseline">
    <mat-form-field appearance="fill" style="margin-right: 10px">
      <mat-label>Número de clusters</mat-label>
      <input matInput formControlName="numberOfClusters" type="number" [max]="initialPoints.length - 1" min="1"
        required />
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary"
      [disabled]="initialPoints.length <= distanceForm.value.numberOfClusters">Introducir</button>
  </div>
</form>
<div *ngIf="showResults && initialPoints.length >= distanceForm.value.numberOfClusters">
  <div style="display: flex; flex-direction: row; justify-content: space-between">
    <div style="width: 50%">
      <div *ngFor="
          let grupo of [].constructor(distanceForm.value.numberOfClusters);
          let i = index
        ">
        <h3 id="grupo{{i}}">
          <strong>Grupo {{ i }}:</strong><span style="opacity: 0%;">{{getColor(i)}}</span>
        </h3>
        <div>
          <span><strong>Puntos: </strong></span>
          <span *ngFor="let label of labels; let i2 = index" style="display: inline-block">
            <ng-container *ngIf="label === i">{{ i2 + 1 }}&nbsp;</ng-container>
          </span>
        </div>
        <br><br>
      </div>
    </div>
    <div style="width: 40%" *ngIf="initialPoints[0].length === 2">
      <app-scartt-chart [scarttChartData]="initialPoints" [isClustering]="true"
        [clusterMap]="labels"></app-scartt-chart><br />
    </div>
  </div>
</div>