<div class="descripcion">
  <h2>{{ translationService.translateKey('outliers1') }}:</h2>
  <p>{{ translationService.translateKey('outliers2') }}</p>
  <br>
  <p><strong>{{ translationService.translateKey('outliers3') }}</strong></p>
  <mat-form-field appearance="fill">
    <mat-label>{{ translationService.translateKey('outliers4') }}</mat-label>
    <mat-select [(ngModel)]="outlierMethod">
      <mat-option *ngFor="let outlier of outliergMethods" [value]="outlier" (click)="selectMethod(outlier)">
        {{ outlier }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="outlierMethod === 'Mahlanobis'">
    <app-mahalanobis-out></app-mahalanobis-out>
  </div>
  <div *ngIf="outlierMethod === 'DBSCAN'">
    <app-dbscan-out></app-dbscan-out>
  </div>
  <div *ngIf="outlierMethod === 'OPTICS'">
    <app-optics-out></app-optics-out>
  </div>
  <div *ngIf="outlierMethod === 'k-Nearest Neighbors'">
    <app-k-nearest-out></app-k-nearest-out>
  </div>
  <div *ngIf="outlierMethod === 'LOF'">
    <app-lof-out></app-lof-out>
  </div>
</div>