<div class="selector">
  <p><strong>Elija el tipo de distancia a aplicar.</strong></p>
  <mat-form-field appearance="fill">
    <mat-label>Seleccione el tipo de distancia</mat-label>
    <mat-select [(ngModel)]="distance">
      <mat-option
        *ngFor="let distance of distances"
        [value]="distance"
        (click)="selectDistance(distance)"
      >
        {{ distance }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="distance === 'Euclidea'">
  <div style="display: flex; flex-direction: row; align-items: baseline">
    <h2>Distancias euclideas:</h2>
    <button mat-button color="primary" id="ShowEuDis" (click)="showEucDist()">
      Mostrar</button
    ><br />
  </div>
  <div *ngIf="showEucDis" class="tableForScroll">
    <table>
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let i of lenghtOfData">
            {{ i + 1 }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of euclideanDistaces; let i = index">
          <td>{{ i + 1 }}</td>
          <td *ngFor="let dist of row">{{ dist | numberFormat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="distance === 'Euclidea normalizada'">
  <div style="display: flex; flex-direction: row; align-items: baseline">
    <h2>Distancias euclideas normalizadas:</h2>
    <button
      mat-button
      color="primary"
      id="showEucNorDis"
      (click)="showEucNorDist()"
    >
      Mostrar</button
    ><br />
  </div>
  <div *ngIf="showEucNorDis" class="tableForScroll">
    <table>
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let i of lenghtOfData">
            {{ i + 1 }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of normalizedEuclideanDistances; let i = index">
          <td>{{ i + 1 }}</td>
          <td *ngFor="let dist of row">{{ dist | numberFormat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="distance === 'Mahalanobis'">
  <div style="display: flex; flex-direction: row; align-items: baseline">
    <h2>Distancias de Mahalanobis:</h2>
    <button mat-button color="primary" id="ShowMahDis" (click)="showMahDist()">
      Mostrar</button
    ><br />
  </div>
  <div *ngIf="showMahDis" class="tableForScroll">
    <table>
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let i of lenghtOfData">
            {{ i + 1 }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of mahalanobisDistances; let i = index">
          <td>{{ i + 1 }}</td>
          <td *ngFor="let dist of row">{{ dist | numberFormat }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
