@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --main-family: 'Poppins', sans-serif;
  --color-bg: linear-gradient(180deg, #FFFFFF 0%, #AEC6DC 100%);

  /* Controls the blob blur gradient colors within the main tag's svg */
  --top-right-blur-1: #20C6B7;
  --top-right-blur-2: #4D9ABF;
  --bttm-left-blur-1: #de3641;
  --bttm-left-blur-2: #e46b73;
}

html {
    background: var(--color-bg);
    font-family: var(--main-family);
    min-height: 100%;
}

body{
  margin: 0;
}

#background {
    position: fixed;
    width: 100%;
    z-index: -1;
    height: 100%;
}

#resumeTFG{
  margin-left: 50px;
  margin-right: 50px;
}

div .header{
  margin-top: 15px;
  text-align: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header h2 {
  line-height: 34px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2%;
  font-weight: 500;
}

@media only screen and (max-width: 450px) {
  .header h2 {
    width: 90%;
    padding: 5%;
  }
}

footer {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}


/*----------------------Menu Start----------------------------------*/
nav{
  margin: 27px auto 0;
  position: relative;
  width: 85%;
  height: 55px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0px;
  margin-bottom: 2%;
}

nav a{
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1){
  width: 20%;
}

a:nth-child(2){
  width: 20%;
}

a:nth-child(3){
  width: 20%;
}

a:nth-child(4){
  width: 20%;
}

a:nth-child(5){
  width: 20%;
}

nav .start-Menu, a:nth-child(1):hover~.animation {
  width: 20%;
  left: 0%;
  background-color: #1abc9c;
}

nav a:nth-child(2):hover~.animation {
  width: 20%;
  left: 20%;
  background-color: #e74c3c;
}

nav a:nth-child(3):hover~.animation {
  width: 20%;
  left: 40%;
  background-color: #3498db;
}

nav a:nth-child(4):hover~.animation {
  width: 20%;
  left: 60%;
  background-color: #9b59b6;
}

nav a:nth-child(5):hover~.animation {
  width: 20%;
  left: 80%;
  background-color: #e57e22;
}

/*----------------menu End-----------------------------*/
