<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Información"><app-page-information></app-page-information></mat-tab>
  <mat-tab label="Empezar">
    <mat-stepper class="mat-horizontal-stepper" [linear]="true" #stepper style="background: none">
      <mat-step label="Datos">
        <app-data></app-data>
      </mat-step>
      <mat-step label="ACP">
        <app-acp></app-acp>
        <div style="display: flex; justify-content: flex-end">
          <button mat-raised-button color="primary" style="margin: 10px" matStepperPrevious>
            Datos
          </button>
          <button mat-raised-button color="primary" style="margin: 10px" matStepperNext>
            Distancias
          </button>
        </div>
      </mat-step>
      <mat-step label="Distancias">
        <app-distancias></app-distancias>
        <div style="display: flex; justify-content: flex-end">
          <button mat-raised-button color="primary" style="margin: 10px" matStepperPrevious>
            ACP
          </button>
          <button mat-raised-button color="primary" style="margin: 10px" matStepperNext>
            Clustering
          </button>
        </div>
      </mat-step>
      <mat-step label="Clustering">
        <app-clustering></app-clustering>
        <div style="display: flex; justify-content: flex-end">
          <button mat-raised-button color="primary" style="margin: 10px" matStepperPrevious>
            Distancias
          </button>
          <button mat-raised-button color="primary" style="margin: 10px" matStepperNext>
            Outliers
          </button>
        </div>
      </mat-step>
      <mat-step label="Outliers">
        <app-outliers></app-outliers>
      </mat-step>
    </mat-stepper>
  </mat-tab>
  <mat-tab disabled="">
    <ng-template mat-tab-label class="template">
      <a href="https://github.com/edf1003/TFG" style="text-decoration: none; color: black">
        <img class="gitlogo" src="../../assets/img/gitlogo.jpg" />
        GitHub
      </a>
    </ng-template></mat-tab>
</mat-tab-group>