<mat-tab-group mat-align-tabs="center" style="padding-bottom: 50px; padding-top: 10px;" [selectedIndex]="1">
  <mat-tab disabled="true">
    <ng-template mat-tab-label class="template">
      <img src="../../assets/img/ADCO.png" alt="ADCO" style="width: 180px; height: 150px; opacity: 100%;">
    </ng-template>
  </mat-tab>
  <mat-tab
    label="{{ translationService.translateKey('menu1') }}"><app-page-information></app-page-information></mat-tab>
  <mat-tab label="{{ translationService.translateKey('menu2') }}">
    <mat-stepper class="mat-horizontal-stepper" [linear]="true" #stepper style="background: none">
      <mat-step label="{{ translationService.translateKey('menu3') }}">
        <app-data></app-data>
      </mat-step>
      <mat-step label="{{ translationService.translateKey('menu4') }}">
        <app-acp></app-acp>
        <div style="display: flex; justify-content: flex-end">
          <button mat-raised-button color="primary" style="margin: 10px" matStepperPrevious>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="2em"
              width="3em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 0 0 0 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z">
              </path>
            </svg>
          </button>
          <button mat-raised-button color="primary" style="margin: 10px" matStepperNext>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="2em"
              width="3em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z">
              </path>
            </svg>
          </button>
        </div>
      </mat-step>
      <mat-step label="{{ translationService.translateKey('menu5') }}">
        <app-distancias></app-distancias>
        <div style="display: flex; justify-content: flex-end">
          <button mat-raised-button color="primary" style="margin: 10px" matStepperPrevious>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="2em"
              width="3em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 0 0 0 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z">
              </path>
            </svg>
          </button>
          <button mat-raised-button color="primary" style="margin: 10px" matStepperNext>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="2em"
              width="3em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z">
              </path>
            </svg>
          </button>
        </div>
      </mat-step>
      <mat-step label="{{ translationService.translateKey('menu6') }}">
        <app-clustering></app-clustering>
        <div style="display: flex; justify-content: flex-end">
          <button mat-raised-button color="primary" style="margin: 10px" matStepperPrevious>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="2em"
              width="3em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 0 0 0 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z">
              </path>
            </svg>
          </button>
          <button mat-raised-button color="primary" style="margin: 10px" matStepperNext>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="2em"
              width="3em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M869 487.8L491.2 159.9c-2.9-2.5-6.6-3.9-10.5-3.9h-88.5c-7.4 0-10.8 9.2-5.2 14l350.2 304H152c-4.4 0-8 3.6-8 8v60c0 4.4 3.6 8 8 8h585.1L386.9 854c-5.6 4.9-2.2 14 5.2 14h91.5c1.9 0 3.8-.7 5.2-2L869 536.2a32.07 32.07 0 0 0 0-48.4z">
              </path>
            </svg>
          </button>
        </div>
      </mat-step>
      <mat-step label="{{ translationService.translateKey('menu7') }}">
        <app-outliers></app-outliers>
        <div style="display: flex; justify-content: flex-end">
          <button mat-raised-button color="primary" style="margin: 10px" matStepperPrevious>
            <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="2em"
              width="3em" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M872 474H286.9l350.2-304c5.6-4.9 2.2-14-5.2-14h-88.5c-3.9 0-7.6 1.4-10.5 3.9L155 487.8a31.96 31.96 0 0 0 0 48.3L535.1 866c1.5 1.3 3.3 2 5.2 2h91.5c7.4 0 10.8-9.2 5.2-14L286.9 550H872c4.4 0 8-3.6 8-8v-60c0-4.4-3.6-8-8-8z">
              </path>
            </svg>
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-tab>
  <mat-tab disabled="">
    <ng-template mat-tab-label class="template">
      <a href="https://github.com/edf1003/TFG" style="text-decoration: none; color: black">
        <img class="gitlogo" src="../../assets/img/gitlogo.jpg" alt="GitHub" />
        GitHub
      </a>
    </ng-template>
  </mat-tab>
  <mat-tab disabled="">
    <ng-template mat-tab-label class="template">
      <button class="language" (click)="toggleLanguage()">
        <img src="../../assets/img/bandera-espana.png" *ngIf="!isSpanishFlagVisible" alt="España">
        <img src="../../assets/img/bandera-inglaterra.png" *ngIf="isSpanishFlagVisible" alt="Inglaterra">
      </button>
    </ng-template>
  </mat-tab>
</mat-tab-group>